<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
    </aside>
    <%= link_to "New Book!", new_book_path, class: "btn btn-primary center" %>
  </div>  

  <div class="center">
  <%= image_tag("picture_book.png", alt: "Picture Book") %>
  </div>
<% else %>
  <div class="center hero-unit">
	<h1>Welcome to Picture Book</h1>

	<h2>
  		This is the home page for Picture Book the programmable childrens' book.
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>

  <div class="center">
  <%= image_tag("picture_book.png", alt: "Picture Book") %>
  </div>
<% end %>