<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <%= link_to "New Book!", new_book_path, class: "btn btn-primary pull-right" %>
  </aside>
  <div class="span8">
    <% if @user.books.any? %>
      <h3>Books (<%= @user.books.count %>)</h3>
      <ol class="books">
        <%= render @books %>
      </ol>
      <%= will_paginate @books %>
    <% end %>
  </div>
</div>