<%= nested_form_for(@book) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field span4 row">
    <%= f.text_field :title, placeholder: "Title of new book" %>
    <div>
      <%= f.fields_for(:book_pages) do |builder| %>
        <%= render 'shared/page_form', f: builder %>
      <% end %>
      <%= f.link_to_add "Add a page", :book_pages %>
    </div>
  </div>
  <div class = "row">
    <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
  </div>
<% end %>